.t-Report-report .form-control{
    padding: 0px;
}
.t-Report-report .a-Button--calendar, .t-Report-report .a-Button--colorPicker, .t-Report-report .a-Button--listManager, .t-Report-report .a-Button--popupLOV {
  float: right;
  margin-top: -7px;
  margin-left: -25px;
  min-height: 27px;
}
#ADDIGROW .fa {
  font-size: 26px;
}
#ADDIGROW1 .fa {
  font-size: 26px;
}
#ADDIGROW2 .fa {
  font-size: 26px;
}
.eptwo{
    display:none;
}
.editableparent .fa{
    cursor: pointer;
    margin: 4px;
}
.ed {
  display: inline-flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 60px;
}
.rb{
  border: none;
  background: transparent;
  pointer-events: none;
  cursor: not-allowed;
}
.rb ~ button {
  display: none;
}

.epone .editfa {
  color: #2f90b2;
  font-size: 20px;
  font-weight: bold;
}
.epone .deletefa {
  color: #d23a60;
  font-size: 20px;
  font-weight: bold;
}
.eptwo .updatefa {
  color: #00945f;
  font-size: 20px;
  font-weight: bold;
}
.eptwo .cancelfa {
  color: #d23a60;
  font-size: 20px;
  font-weight: bold;
}
#ADDIGROW .fa {
  font-size: 26px;
  color: #00945f;
  font-weight: bold;
}

#ADDIGROW1 .fa {
  font-size: 26px;
  color: #00945f;
  font-weight: bold;
}
#ADDIGROW2 .fa {
  font-size: 26px;
  color: #00945f;
  font-weight: bold;
}

.t-Report-report .a-Button--popupLOV {
  margin-top: 0px;
}
.red{
    border:1px solid red !important;
}